body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

footer {
  padding: 15px;
}

.row.content {
  height: 1500px
}

.sidenav {
  background-color: black;
  color: darkgray;
  height: 100%;
  width: 20%;
  padding: 0 10px 0 10px;
}

.confessionsPane {
  float: right;
  width: 80%;
  padding-left: 15px;
}