<h3> New Confession </h3>
<hr />

<div class="container">
  <div>
    <p>
      <label>Confession (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="confession.confession" required> 
    </p>
    <p>
      <label>Anonymous (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="confession.anonymous" required> 
    </p>
    <p>
      <label>First Name</label> 
      <input id="name" class="form-control" type="text" ng-model="confession.firstName"> 
    </p>
    <p>
      <label>Last Name</label> 
      <input id="name" class="form-control" type="text" ng-model="confession.lastName"> 
    </p>
    <p>
      <label>Email</label> 
      <input id="name" class="form-control" type="text" ng-model="confession.email"> 
    </p>
    <p>
      <label>City</label> 
      <input id="name" class="form-control" type="text" ng-model="confession.city"> 
    </p>
    <p>
      <label>Country</label> 
      <input id="name" class="form-control" type="text" ng-model="confession.country"> 
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveConfession(confession)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>